body{
    font-family: 'Futura PT';
    font-size: 16px;
    color: #151515;
    margin: 0;
    background: #19181E;
}

.smooth-scroll{
    overflow: hidden;
}

html.has-scroll-smooth{
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

html.has-scroll-smooth .smooth-scroll{
    perspective: 1px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*-webkit-font-smoothing: antialiased;*/
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.container{
    max-width: 1250px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.row>div{
    padding-left: 12px;
    padding-right: 12px;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    padding-top: 34px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section#top{
    min-height: 660px;
    max-height: 830px;
    height: 100vh;
    color: #fff;
}

.menu{
    position: relative;
}

.menu .__inner{
    position: absolute;
    padding: 148px 120px 62px 43px;
    background-color: #030303;
    width: 310px;
    text-align: right;
    left: -115px;
    top: -50px;
    transition: .3s ease opacity;
    pointer-events: none;
    opacity: 0;
}

.menu.active .__inner{
    opacity: 1;
    pointer-events: initial;
}

.menu .__inner ul li:not(:last-child){
    margin-bottom: 7px;
}

.menu .__inner a{
    color: #B1B1B1;
    transition: .3s ease color;
}

.menu .__inner a:hover{
    color: white;
}

.menu-toggle{
    cursor: pointer;
}

.menu .__top{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.menu .__top span{
    color: #fff;
    font-weight: 600;
}

.menu .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 19px;
    height: 19px;
    border: 1px solid #ffffff;
    margin-left: 11px;
}

.menu .circle svg{
    position: relative;
    left: -1px;
}

h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 98.2%;
    max-width: 610px;
}

section#top{
    position: relative;
    overflow: hidden;
}

section#top .top-bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

section#top .container{
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 134px;
}

section#top .row{
    align-items: center;
    position: relative;
    top: 5px;
}

section#top p{
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 56px;
}

.big-circle{
    width: 58px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid #ffffff;
    cursor: pointer;
    transition: .4s ease background-color;
}

.big-circle path{
    transition: .4s ease stroke;
}

.big-circle:hover{
    background-color: #ffffff;
}

.big-circle:hover path{
    stroke: #19181E;
}

.row>div.big-a-col{
    padding-left: 40px;
    position: relative;
}

.big-a-col img:first-child{
    position: relative;
    z-index: 4;
}

.big-a-col img:not(:first-child){
    position: absolute;
    top: 0;
}

.big-a-col img:nth-child(2){
    opacity: .75;
    z-index: 3;
    left: 15%;
}

.big-a-col img:nth-child(3){
    opacity: .5;
    z-index: 2;
    left: 23%;
}

.big-a-col img:nth-child(4){
    opacity: .25;
    z-index: 1;
    left: 31%;
}

.animation_fade-top{
    opacity: 0;
    transform: translateY(60px);
    transition: 1s ease;
    transition-property: opacity, transform;
}

.animation_fade-top.is-inview{
    opacity: 1;
    transform: translateY(0);
}

#about-us{
    padding-top: 80px;
    padding-bottom: 80px;
    background: #EDEDED;
}

.text-col{
    max-width: 560px;
}

.jc-space-between{
    justify-content: space-between;
}

.section-title{
    position: relative;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 62px;
}

.section-title:before{
    content: '';
    width: 100px;
    height: 6px;
    background-color: #19181E;
    display: block;
    margin-bottom: 20px;
}

.section-title[data-scroll]:before{
    width: 0;
    transition: 1s ease width;
}

.section-title.is-inview:before{
    width: 100px;
    transition: 1s ease width;
}

h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 97.654%;
    margin-bottom: 18px;
}

.info-item{
    margin-bottom: 24px;
    position: relative;
    display: flex;
}

.info-item:before{
    content: '';
    width: 30px;
    height: 2px;
    background-color: #19181E;
    flex-shrink: 0;
    position: relative;
    top: 10px;
    margin-right: 22px;
}

.info-item-2{
    margin-bottom: 47px;
    position: relative;
}

.info-item-2:before{
    content: '';
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin-bottom: 5px;
}

.info-item b{
    display: contents;
}

.img-overflow{
    overflow: hidden;
}

.holding-mission{
    margin-top: 76px;
}

.quotes-outer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 56px;
}

.quotes-outer p{
    margin-left: 20px;
    color: #151515;
    font-size: 28px;
    font-weight: 700;
    line-height: 97.654%; /* 27.343px */
}

#our-values{
    color: #fff;
    padding-top: 132px;
}

#our-values .section-title{
    margin-bottom: 111px;
}

#our-values .section-title:before{
    background-color: #fff;
}

#our-values .row.__top{
    justify-content: center;
    text-align: center;
}


#our-values .row.__top>div{
    max-width: 400px;
    margin-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
}

h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 136.7%;
    margin-bottom: 20px;
}

#our-resources{
    padding-top: 200px;
    padding-bottom: 50px;
    position: relative;
}

#our-resources .back-wsh{
    position: absolute;
    top: 0;
    width: 100%;
    transform-style: preserve-3d;
}

.big-txts span{
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
}

.big-txts p{
    font-weight: 700;
    line-height: 136.7%;
}

.big-txts>div{
    margin-bottom: 172px;
}

.big-txts>div:nth-child(1),
.big-txts>div:nth-child(3){
    margin-left: 15%;
}

.big-txts>div:nth-child(2){
    margin-left: 25%;
}

.big-txts>div:nth-child(1) p,
.big-txts>div:nth-child(2) p{
    max-width: 300px;
}

.big-txts>div:nth-child(3) p{
    max-width: 450px;
}

#our-values #esg h2{
    margin-bottom: 10px;
}

#esg{
    padding-bottom: 50px;
}

#esg h4{
    margin-bottom: 70px;
}

#invest-strategy{
    padding-top: 87px;
    padding-bottom: 48px;
    background: #EDEDED;
}

#invest-strategy h2{
    margin-bottom: 22px;
}

#invest-strategy .info-items{
    margin-top: 122px;
}

#invest-strategy .info-item-2{
    max-width: 520px;
    margin-bottom: 42px;
}

#invest-strategy h2 +  p{
    max-width: 580px;
}

#invest-strategy .info-item-2:before{
    background-color: #19181E;
}

#projects{
    padding-top: 130px;
    color: #fff;
}

#projects p{
    max-width: 485px;
}

.partner-items{
    margin-top: 66px;
}

.partner-items a{
    display: block;
    margin-bottom: 55px;
    position: relative;
    z-index: 1;
}

h2.white:before{
    background-color: #fff;
}

#structure{
    padding-top: 275px;
    margin-top: -2px;
    color: #fff;
}

#structure .row{
    padding-left: 8%;
}

.country-items{
    margin-top: 58px;
}

.country-items span{
    font-size: 20px;
}

.country-items>div{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.country-items>div img{
    margin-right: 30px;
}

.holding-col{
    position: relative;
    display: flex;
    margin-top: 16px;
}

.holding-col:before{
    content: '';
    width: 139px;
    height: 4px;
    background: #fff;
    margin-left: 43px;
    margin-right: 70px;
    display: block;
    position: relative;
    top: 11px;
}

footer{
    padding-top: 68px;
    padding-bottom: 20px;
    color: #fff;
}

footer .logo{
    width: 196px;
}

.c-scrollbar_thumb {
    background-color: #584c4c;
}

h5{
    font-size: 16px;
    font-weight: 700;
    line-height: 136.7%; /* 21.872px */
    margin-bottom: 23px;
}

footer nav a:hover{
    text-decoration: underline;
}

footer nav li{
    margin-bottom: 13px;
}

.contact-items>div{
    margin-bottom: 26px;
}

.contact-items>div p{
    max-width: 200px;
}

.contact-items .group-name{
    display: block;
}

.contact-items span{
    margin-bottom: 7px;
}

footer .__bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

footer .__bottom span,
footer .__bottom span a{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.3);
}

.logo-col{
    width: 28%;
}

header .menu .__top span{
    transition: .2s color;
}

header .circle{
    transition: .2s ease border;
}

header .circle svg{
    transition: .3s ease transform;
}

header path{
    transition: .2s ease;
    transition-property: fill, stroke;
}

header.white-zone path{
    fill: #19181E;
    stroke: #19181E;
}

header.white-zone .menu .__top span{
    color: #19181E;
}

header.white-zone .circle{
    border-color: #19181E;
}

header.white-zone .menu.active .__top span{
    color: #fff;
}

header.white-zone .menu.active .circle{
    border-color: #fff;
}

header.white-zone .menu.active path{
    fill: #fff;
    stroke: #fff;
}

.menu.active .circle svg{
    transform: rotate(90deg) translate(-1px, -1px);
}

#map{
    color: #fff;
}

#map .map-outer{
    display: flex;
    justify-content: center;
}

#map .map-outer{
    max-width: 100%;
}

@media screen and (max-width: 991px) {
    .logo{
        width: 120px;
    }

    footer .logo {
        width: 166px;
    }

    header{
        padding-top: 25px;
    }

    h1{
        font-size: 36px;
    }

    .big-a-col img{
        max-width: 290px;
    }

    .big-a-col img:nth-child(2){
        left: 16%;
    }

    .big-a-col img:nth-child(3){
        left: 22%;
    }

    .big-a-col img:nth-child(4){
        left: 28%;
    }

    .row>div.big-a-col{
        width: 100%;
        margin-top: 25px;
    }

    .img-overflow{
        width: 100%;
        margin-top: 30px;
    }

    .img-overflow img{
        width: 100%;
    }

    .quotes-outer img{
        width: 75px;
    }

    .quotes-outer p{
        font-size: 24px;
    }

    #our-values .section-title {
        margin-bottom: 78px;
    }

    #our-values {
        color: #fff;
        padding-top: 82px;
    }

    .big-txts>div {
        margin-bottom: 104px;
    }

    .big-txts span {
        font-size: 40px;
    }

    #invest-strategy .info-items {
        margin-top: 80px;
    }

    #projects {
        padding-top: 82px;
        color: #fff;
    }

    h3 {
        font-size: 24px;
    }

    #structure {
        padding-top: 150px;
    }

    #structure .row,
    .holding-col{
        flex-direction: column;
    }

    .holding-col{
        text-align: center;
    }

    .holding-col:before {
        width: 2px;
        height: 45px;
        margin-right: 0;
        top: -17px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    #structure .row{
        padding-left: 0;
        text-align: center;
    }

    .country-items {
        margin-top: 29px;
    }

    section#top {
        max-height: 100vh;
    }

    footer .row>div{
        width: 100%;
        margin-bottom: 44px;
    }

    footer .__bottom{
        flex-direction: column;
        margin-top: 30px;
    }

    .section-title {
        font-size: 41px;
    }

    .section-title:before {
        width: 89px;
        height: 5px;
        margin-bottom: 16px;
    }

    #map .map-outer{
        overflow: scroll;
        justify-content: flex-start;
    }
}


@media screen and (max-width: 375px) {
    h1 {
        font-size: 27px;
    }

    .big-a-col img {
        max-width: 249px;
    }

    section#top p {
        margin-bottom: 30px;
    }
}
